nav(class="menu")
  ul(class="menu__list")
    li(class="menu__element") <a href="#" class="menu__link"> Вузы </a>
    li(class="menu__element") <a href="#" class="menu__link"> Колледжи </a>
    li(class="menu__element") <a href="#" class="menu__link"> Техникумы </a>
    li(class="menu__element") <a href="#" class="menu__link"> Училища </a>
    li(class="menu__element") <a href="#" class="menu__link"> Специальности </a>
    li(class="menu__element") <a href="#" class="menu__link"> Профессии </a>
    li(class="menu__element") <a href="#" class="menu__link"> Отзывы </a>
    li(class="menu__element") <a href="#" class="menu__link"> Учебным заведениям </a>
    li(class="menu__element") <a href="#" class="menu__link"> Тест на профориентацию </a>
