div(class="popup")
	div(class="popup__input-wrapper")
		input(type="text" class="popup__input" placeholder="Регион, город, населенный пункт")
		button(class="popup__input-clear")
	ul(class="popup__list-checked")
	ul(class="popup__list")
	button(class="popup__button") Сохранить
